div {
	background: url(bg.jpg);
}

div {
	list-style-image: url(./icon.jpg);
}

div {
	cursor: url("./cursor.png");
}

div {
	cursor: url("cursor.png"), auto;
}

cursor: url(cursor.png);

body {
	cursor: url(cursor.png);
}

.test {
	cursor: url(cursor.png);
}

div {
	color: red;
	cursor: url(cursor.png);
}

div {
	cursor: url(cursor.png);
	color: red;
}
